spring:
  application:
    name: gateway
server:
    port: 8080
zuul:
  routes:
    frigo:
      path: /frigo/**
      url: http://localhost:8081/
      stripPrefix: false
    hops:
      path: /hop/**
      url: http://localhost:8082/
      stripPrefix: false
ribbon:
  eureka:
    enabled: false