body {
    background-color: #eee;
    font-family: 'Signika Negative';font-size: 15px;
}

#addHop {
    outline: 1px solid #aaa;
    background-color: #fff;
    margin: 5px;
}

.hopContainer {
    outline: 1px solid #aaa;
    width: 350px;
    height: 130px;
    background-color: #fff;
    float: left;
    margin: 5px;
}

.hopContainer img {
    float: left;
    margin: 10px;
}

.hopContainer ul {
    list-style-type: none;
    margin-bottom: 0;
}

.hopContainer button {
    float: right;
    margin: 10px;
}

#addHop label {
    width: 100px;
    margin-right: 10px;
    text-align: right;
    line-height: 25px;
}

#addHop label, #addHop input {
    display: block;
    margin-bottom: 10px;
    float: left;
}

#addHop label[for="title"], #addHop label[for="location"] {
    clear: both;
}

#addHop button {
    display: block;
    margin: 5px 20px 10px 10px;
    float: right;
    clear: both;
}

#addHop div {
    width: 550px;
}

#addHop div:after {
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
    font-size: 0;
    line-height: 0;
}